<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo-pic.svg" %>
	</div>

	<div id="content">
		<h1>Hey, my name is Alejandro and I am becoming a Web Developer</h1>
		<p>Welcome to my first Blog ever, which I developed on Ruby on Rails with the support of Career Foundry and Mackenzie Child's online tutorials.</p>
		<p>If you'd like to follow along as I develop a professional portfolio, you may find all my projects on <a href="http://www.agmwebs.com/#work">www.agmwebs.com</a>, including this Blog.</p>
		<p>Also, you can follow my activity on <a href="https://twitter.com/Aleginmar">Twitter</a>, <a href="https://uk.linkedin.com/in/alejandrogines">Linkedin</a> and <a href="https://github.com/alexBCN84">GitHub.</a></p>
		<p>If you wish to know more about me, you're more than welcome to <a href="mailto:alejandro.ginesmartinez@gmail.com">email</a> me.</p>
		<p></p>
	</div>
</div>